* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
div.header {
  background: rgb(51, 53, 69);
  height: 70px;
}
div.margin {
  margin: 0 10%;
}
div.header div.book-icon {
  display: flex;
  float: left;
}
div.header div.book-icon input {
  height: 35px;
  width: 550px;
  margin: 17px;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
div.header div.book-icon div.mag-glass {
  font-size: 20px;
  margin: 20px 0 0 -52px;
  cursor: pointer;
  transition: transform(0.4s);
  transition-duration: 600ms;
}
div.header div.book-icon div.mag-glass:hover {
  transform: scale(1.09);
}
/***Header Right****/
div.header-right {
  float: right;
  margin-top: 20px;
  display: flex;
}

div.header-right select {
  background: rgb(51, 53, 69);
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.563);
  font-size: 18px;
  width: 100px;
}
div.header-right select:hover {
  color: #ffffff;
}
div.header-right input {
  font-size: 15px;
  color: white;
  padding: 5px;
  margin: 0 15px;
  cursor: pointer;
  background: rgba(255, 0, 0, 0.491);
  border: none;
  border-radius: 5px;
  width: 70px;
  transition: transform 0.4s;
  transition-duration: 500ms;
}
div.header-right input:hover {
  transform: scale(0.91);
  background: rgba(200, 0, 0, 0.634);
}
div.header-right div.hamburger-icon {
  display: none;
}
/*****/
div.header1 {
  background: rgb(34, 37, 57);
  height: 40px;
  margin-bottom: 10px;
}

div.header1 div.head1 {
  display: flex;
  justify-content: space-between;
}
div.header1 div.head1 div.head1-left ul {
  display: flex;
  list-style: none;
  margin-top: 8px;
}
div.header1 div.head1 div.head1-right ul {
  display: flex;
  list-style: none;
  margin-top: 8px;
}
div.header1 div.head1 div ul li {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 7px;
  font-size: 15px;
  cursor: pointer;
  transition: transform(0.3s);
  transition-duration: 500ms;
  padding-bottom: 9px;
}
div.header1 div.head1 div ul li:hover {
  color: #ffffff;
}
div.header1 div.head1 div ul li span {
  font-size: 9px;
  color: red;
  position: relative;
  top: -11px;
}
/****/
/***
******/

/***
uygudycdhc
wvsd*/
div.main {
  margin: 60px 0 0 0;
}
div.main div.margin-large {
  margin: 0 7%;
}
div.main div.margin-large h4 {
  margin-left: 60px;
}
div.main div.margin-large div.flex {
  display: flex;
}
div.main div.margin-large div.flex div.card {
  cursor: pointer;
  margin: 0 11px;
  transition: transform 0.4s;
  transition-duration: 300ms;
}
div.main div.margin-large div.flex div.card:hover {
  transform: scale(0.95);
}
div.main div.margin-large div.flex div.card img {
  border-radius: 10px;
}

div.main div.margin-large div.flex #fa {
  margin: 12% 0;
}

div.main div.margin-large div.flex i {
  font-size: 50px;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border-radius: 55%;
  transition: transform 0.4s;
  transition-duration: 300ms;
}
div.main div.margin-large div.flex div.fa-left {
  position: relative;
  left: 5px;
}
div.main div.margin-large div.flex div.fa-right {
  position: relative;
  right: 5px;
}
div.main div.margin-large div.flex i:hover {
  transform: scale(0.96);
  color: #000000;
  background: white;
}
/*******/
div.main1 div.margin img {
  margin: 70px 0;
  cursor: pointer;
  border-radius: 10px;
}
/*****/
div.main2 div.margin-large {
  margin: 0 7%;
}
div.main2 div.margin-large h3 {
  margin: 0 0 8px 58px;
}
div.main2 div.margin-large div.flex {
  display: flex;
}
div.main2 div.margin-large div.flex div.main2-card img {
  height: 230px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s;
  transition-duration: 300ms;
}
div.main2 div.margin-large div.flex div.main2-card img:hover {
  transform: scale(0.97);
}
div.main2 div.margin-large div.flex div.main2-card {
  margin: 0 9px 50px 9px;
}
div.main2 div.margin-large div.flex i {
  font-size: 50px;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border-radius: 55%;
  transition: transform 0.4s;
  transition-duration: 300ms;
}
div.main2 div.margin-large div.flex i:hover {
  transform: scale(0.92);
  color: #000000;
  background: white;
}
div.main2 div.margin-large div.flex div#fa {
  margin: 6% 0px;
}
/*********/

div.main3 {
  height: 630px;
  width: 100%;
  background: rgb(43, 49, 72);
  margin: 20px 0 50px 0;
}

div.main3 div.margin div.main3-img1 {
  cursor: pointer;
  margin-left: 10px;
}
div.main3 div.margin div.main3-img1 img {
  width: 1250px;
}
div.main3 div.margin div.main3-img1 h4,
div.main3 div.margin div.main3-img1 p {
  color: #ffffff;
}

div.main3 div.margin div.flex2 {
  display: flex;
}
div.main3 div.margin div.flex2 div {
  margin: 0 8px;
  cursor: pointer;
}
div.main3 div.margin div.flex2 div.main3-movie img {
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.4s;
  transition-duration: 500ms;
}
div.main3 div.margin div.flex2 div.main3-movie img:hover {
  transform: scale(0.95);
}
div.main3 div.margin div.flex2 div.main3-movie h4 {
  color: #ffffff;
  margin-top: 5px;
  font-size: 20px;
  height: 20px;
}
div.main3 div.margin div.flex2 div.main3-movie p {
  color: #ffffff;
  font-size: 15px;
}
/****
efjcbwejk
eofwe**/
div.main4 {
  height: 300px;
  margin: 50px 0;
}
div.main4 div.margin div.flex1 {
  display: flex;
  margin: 30px 0 0;
}
div.main4 div.margin div.flex1 div.movie {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  border: 0.5px solid white;
  cursor: pointer;
  background: rgb(231, 231, 231);
  margin: 0 20px 0 0;
  padding: 12px 0 0 15px;
}
div.main4 div.margin div.flex1 div.movie:hover {
  border: 0.5px solid rgb(248, 68, 100);
}
div.main4 div.margin div.flex1 div.movie h5 {
  font-size: 18px;
  color: rgb(248, 68, 100);
}
div.main4 div.margin div.flex1 div.movie p {
  font-size: 14px;
  color: rgba(51, 45, 45, 0.84);
}
div.main4 div.margin div.flex2 {
  margin-top: 20px;
  display: flex;
}
div.main4 div.margin div.flex2 div.movie {
  width: 160px;
  height: 80px;
  border-radius: 5px;
  border: 0.5px solid white;
  cursor: pointer;
  background: rgb(231, 231, 231);
  margin: 0 20px 0 0;
  padding: 12px 0 0 15px;
}
div.main4 div.margin div.flex2 div.movie:hover {
  border: 0.5px solid rgb(248, 68, 100);
}
div.main4 div.margin div.flex2 div.movie h5 {
  font-size: 18px;
  color: rgb(248, 68, 100);
}
div.main4 div.margin div.flex2 div.movie p {
  font-size: 14px;
  color: rgba(51, 45, 45, 0.84);
}
/******jefb
efbwej
kwekfjb**/
div.main5 {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}
div.main5 div.margin div.flex {
  display: flex;
}
div.main5 div.margin div.flex div.content {
  margin-right: 50px;
  width: 215px;
  cursor: pointer;
}
div.main5 div.margin div.flex div.content img {
  border-radius: 10px;
  transition: transform 0.4s;
  transition-duration: 500ms;
  cursor: pointer;
}
div.main5 div.margin div.flex div.content img:hover {
  transform: scale(0.97);
}
div.main5 div.margin div.flex div.content h5 {
  font-size: 18px;
  margin-top: 8px;
}
div.main5 div.margin div.flex div.content P {
  font-weight: 200;
  color: #7c7a7a;
} /****edj4
ejfn
ef
888*/
div.main6 {
  width: 100%;
  background: rgb(238, 235, 235);
  margin-bottom: 30px;
}
div.main6 div.margin div.content {
  height: 30px;
}
div.main6 div.margin div.content h6 {
  color: #6e6b6b;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
}
/******
r
::-webkit-validation-bubbleerbv
ervb*/
div.footer {
  width: 100%;
  height: 100%;
  background: rgb(49, 48, 53);
}
div.footer div.margin div.footer1 {
  display: block;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.footer div.margin div.footer1 div.foott {
  display: flex;
  align-items: center;
}
div.footer div.margin div.footer1 div.foott div {
  margin: 10px;
  color: #ffffff;
}
div.footer div.margin div.footer1 div.foott div#listyourshow {
  font-size: 25px;
}

div.footer div.margin div.footer1 div.buton a {
  padding: 10px 20px;
  background: rgb(201, 49, 49);
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  transition: transform(0.4s);
  transition-duration: 500ms;
}
div.footer div.margin div.footer1 div.buton a:hover {
  transform: scale(0.91);
  background: rgba(200, 0, 0, 0.634);
}
div.footer div.margin div.footer2 {
  width: 100%;
  margin: 30px 0;
}
div.footer div.margin div.footer2 img {
  cursor: pointer;
  width: 100%;
}
/***ffbfg
h
gfb
gb**/
div.footer div.margin div.footer3 {
  width: 100%;
  margin: 50px 0 40px 0;
}
div.footer div.margin div.footer3 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer3 a:last-child {
  border: none;
}
div.footer div.margin div.footer4 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer4 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer4 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer4 a:last-child {
  border: none;
}
div.footer div.margin div.footer5 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer5 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer5 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer5 a:last-child {
  border: none;
}
div.footer div.margin div.footer6 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer6 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer6 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer6 a:last-child {
  border: none;
}
div.footer div.margin div.footer7 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer7 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer7 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer7 a:last-child {
  border: none;
}
div.footer div.margin div.footer8 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer8 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer8 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer8 a:last-child {
  border: none;
}
div.footer div.margin div.footer9 {
  width: 100%;
  margin: 0 0 40px 0;
}
div.footer div.margin div.footer9 h6 {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.44);
}
div.footer div.margin div.footer9 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.44);
  font-size: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.44);
  padding-right: 5px;
}
div.footer div.margin div.footer9 a:last-child {
  border: none;
}
div.footer div.margin div.bookmyshow div.leftline {
  height: 1px;
  background: rgb(93, 93, 95);
  flex: 1 1 0%;
}
div.footer div.margin div.bookmyshow div.rightline {
  height: 1px;
  background: rgb(93, 93, 95);
  flex: 1 1 0%;
}
div.footer div.margin div.bookmyshow {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
div.footer div.margin div.socialmedia {
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
}
div.footer div.margin div.socialmedia i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  background: rgb(67, 66, 66);
  border-radius: 50px;
  padding: 3px;
}
div.footer div.margin div.socialmedia i:hover {
  color: #ffffff;
  background: #000000;
}
div.footer div.margin div.end {
  height: 130px;
  width: 100%;
  margin: 40px 0 0px 0;
  align-items: center;
  text-align: center;
  font-size: 11px;
  color: rgb(84, 81, 81);
}
/**
8
ytj
fgn
gfnj
trh
tj
n
gtb
dnhgtnhtf
jn
tfgtnfgn
fgn
ntfg
hntgn
tdht
feDistantLightn
gtnjf
gnj
fyjnf
jnfy
jnf
y
**/
@media screen and (max-width: 1200px) {
}
